.Product {
  padding: 10px;
  width: 280px;
  height: 550px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  list-style: none;
  border: 1px solid #4d457b;
  border-radius: 10px;

  &__title {
    margin-bottom: 10px;
  }

  &__img {
    height: 250px;
    width: 250px;
  }

  &__comments {
    height: 60px;
    width: 220px;
    background-color: #e9e6f2;
    border-radius: 10px;
  }
}